@import "partial";

html {
    box-sizing: border-box;
    direction: rtl;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

body {
    background-color: darken($color: #ffffff, $amount: 30%);
}

.nav {
    @include container($spc-sm, $color-1);

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    &-item {
        list-style: none;
        $font-big: 40px !global;

        font: {
            size: $font-big;
            weight: 500;
            family: 'Vazir';
        }

        margin : $spc-sm $spc-xl;

    }

    &-link {
        @include toggle();
        text-decoration: none;
        color: $color-9;

        &:hover,
        &:focus {
            border-bottom: 1px solid $color-9;
        }
    }
}

.banner {
    @include container($spc-xl, $color-3);

    &-head {
        @include heading($color-8, $font-size-xxl, $color-6);
    }

    &-text {
        @extend %text;
        width: $w-75;
        margin: 0 auto;
        font-size: doubleSize($font-size-sm);
    }
}

.loop {
    @include container($spc-xxl, $color-7);

    &-head {
        @include heading($color-2, $font-size-xl, $color-3);
    }

    &-content {
        text-align: center;
    }
}

.footer {
    @include container($spc-md, $color-2);


    &-head {
        @include heading($color-7, $font-size-xl, $color-5);
    }

    &-text {
        @extend %text;
        color: $color-4;
    }
}